.cor-viz-ls {

  &__multi-maps {
    position: relative;
    padding-bottom: 20px;

    @media (min-width: $screen-sm) {
      width: 70%;
      float: left;
    }

    @media (min-width: $screen-lg) {
      width: 75%;
    }
  }

  &__info-wrapper {
    clear: both;

    @media (min-width: $screen-sm) {
      clear: none;
      float: right;
      width: 30%;
      padding-left: 20px;
    }

    @media (min-width: $screen-lg) {
      width: 25%;
    }
  }

  &__section {
    // wrapper for inside <figure> and <figcaption> to apply
    // margin for viz container and infobox/legend
    padding-top: 10px;

    @media (min-width: $screen-sm) {
      padding-top: 20px;
    }
  }

}


.multi-map {

  &__container {
    // border: 1px solid red;

    @media (min-width: $screen-sm / 2) {
      width: 50%;
      float: left;
    }
  }

  &__wrapper {
    padding: 0;
    // padding: 10px 20px 10px 0;
  }

  &__svg {
    // the main chart/map styling happens here.

    path.map__item {
      stroke: #fff;
      stroke-width: 6;
      transition: stroke .1s;

      &.-hilight {
        stroke: $hilight-color;
        transition: stroke .1s;
      }
    }
  }

  &__title {
    margin-top: 0;
    font-size: 20px;
    font-family: 'Neuzeit','Helvetica','Arial',sans-serif;
  }

  &__table {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    table-layout: fixed;

    &-row {
      font-size: 15px;

      &--header {
        color: $hilight-color;
        font-size: 20px;
        line-height: 1em;
        font-family: 'Neuzeit','Helvetica','Arial',sans-serif;
        font-weight: bold;
      }

      td {
        vertical-align: top;
        padding-right: 7px;
        // border: 1px solid black;
      }

    }

  }

  &__bar-chart {
    .divbars__bar-outer {
      padding-left: 15px;
    }
  }

  &__bar-label {
    position: absolute;
    left: 0px;
    font-size: 15px;
    line-height: 20px;
  }

  &__infobox {
    .data--small {
      font-size: 15px;
    }
  }

  &__selector {
    position: relative;
    display: block;

    select {
      background: white;
      margin: 0;
      padding: 5px;
      border: 1px solid gray;
      display: block;
      width: 100%;

      option {
        font-size: 16px;
        padding: 0px;

      }

    }

    @include reset-select;
  }

  &__legend {

    @media (min-width: $screen-sm) {
      position: absolute;
      bottom: -30px;
      right: 0px;
      text-align: right;
    }

    &-title {
      font-size: 15px;
      line-height: 1;
      margin-bottom: 0;
    }

    &-item {
      color: white;
      font-family: 'Neuzeit','Helvetica','Arial',sans-serif;
      font-size: 12px;
      padding: 3px 6px 3px 6px;
    }

  }

}


.figure__credits {
  clear: both;
  margin-top: 14px;
  color: #9c9c9c;
  font-size: 14px;
  line-height: 1.4;

  a {
    border: none;
    text-decoration: underline;
    color: inherit;
  }

  &>p:first-of-type:before {
    // remove icon
    content: '';
    padding: 0;
  }
}
